NODE_ENV=development

PORT=3000
JWT_SECRET=your_jwt_secret_here

DB_HOST=localhost
DB_PORT=5432

DB_USER=postgres
DB_PASSWORD=your_database_password

DB_NAME=plantogether_db
DB_NAME_TEST=plantogether_test

UPLOAD_DIR=uploads

DB_LOGGING=false
DB_SSL=false

CORS_ORIGIN=http://localhost:5173
